.bold{
  font-weight: bold;
}

.register-logo{
  width: 100%;
  height: 300px;
  background-color: transparent;
  border: 1px solid;  
  object-fit: contain;  
}

body{
  background-color: #f2f2f2;
}

.login-link, .register-link{
  float: right;
  text-decoration: none;
  color: black;
}

.login-link:hover, .register-link:hover{
  color: blue;
}

ol.breadcrumb{
  float: right;
}

.nav-logo{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 5px;  
}

a{
  cursor: pointer;
}

.product-logo{
  width: 80px;
}

.product-img{
  width: 100%;
}

.product-img-div{
  border: 1px solid;
  padding: 2px;  
  width: 20px; 
  margin-top: 2px;
}

.card-product-title{
  height: 50px;  
  overflow: hidden;
}

.card-product-img{
  object-fit: contain;
  height: 200px;
}

.ui-categories ul{
  list-style: none;    
}

.ui-categories ul li{  
  border: 1px solid #ccc;
  padding: 10px;  
  margin: 3px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.ui-categories ul li:hover, .ui-categories ul li.active{
  background-color: aquamarine;
}

.product-detail-main-img{ 
  width: 100%;  
}

.product-details-img{
  max-width: 100px;
  height: 100px;
}

.shopping-cart{
  text-decoration: none;
  color: gray;
}

.shopping-cart:hover{
  color: #0D6EFD;
}

.ui-profile:hover{
  color: #0D6EFD;
}