.bold{
  font-weight: bold;
}

.register-logo{
  width: 100%;
  height: 300px;
  background-color: transparent;
  border: 1px solid;  
  object-fit: contain;  
}

body{
  background-color: #f2f2f2;
}

.login-link{
  float: right;
  text-decoration: none;
  color: black;
}

.login-link:hover{
  color: blue;
}
